<div id="survey">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" id="myheader">Section 4: Energy Usage-Transport</h1>
		</div>
	</div>



<div class="row">
        <div class="col-xs-12 col-lg-6">
		<form>
			<form>
			<div class="form-group">
				<h5><b>How many vehicles do you operate in the following categories? </b></h5>
				<label> Petrol Vehicles: </label> 
				<input type="number" class="form-control"> 
			</div>

			<div class="form-group">
				<label> Diesel Vehicles: </label> 
				<input type="number" class="form-control"> 
			</div>
		</form>

			<form>
				<label><h5><b>Which of the following fuel types are used by your fleet of vehicles?</b></h5></label>
				<div class="checkbox">
					<label><input type="checkbox" value="">Bioethanol </label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Biodiesel</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Biogas</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Compressed Natural Gas (CNG) </label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Diesel</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Liquefied Petroleum Gas</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Petrol / Gasoline</label>
				</div>


			</form>



			<div class="form-group">
				<h5><b>What was the volume in liters and cost used to fuel your own fleet or road vehicles in the current month (excluding biodiesel and fuel used in forklifts and other MHE)?</b></h5>
				<label> Volume of petrol used for Vehicles: </label> 
				<input type="number" class="form-control"> 
			</div>

			<div class="form-group">
				<label> Cost: </label>
				<input type="number" class="form-control"> 
			</div>

			<div class="form-group">
				<label> Volume of diesel used for Vehicles: </label> 
				<input type="number" class="form-control"> 
			</div>

			<div class="form-group">
				<label> Cost: </label>
				<input type="number" class="form-control"> 
			</div>


			<div class="form-group">
				<label> <h5><b>What was the total distance in km travelled by your fleet? </b></h5> </label> 
				<input type="number" class="form-control"> 
			</div>


			<a class="btn btn-danger pull-right" ui-sref="dashboard.section5" style="margin-bottom: 30px" onclick="scroll(0,0)">Submit</a>
		</form>
	</div>
</div>
</div>
