<div id="survey">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" id="myheader">Section 7: Recycling</h1>
		</div>
	</div>


	<form>
		<label><h4><b> Which of the following categories of waste were recycled in this month?</b></h4></label>
		<div class="checkbox">
			<label><input type="checkbox" value="" ng-model="checked3" id="plastic" >Plastic</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" value="" ng-model="checked1" id="cardboard" >Cardboard </label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" value="">Cooking Oil</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" value="" ng-model="checked2" id="paper" >Paper</label>
		</div>
		
		<div class="checkbox">
			<label><input type="checkbox" value="">Foodstuff</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" value="">Other</label>
		</div>
	</form>

	<div class="check-element animate-show" ng-show="checked3" id="plastic">
		<form>
			<label><h4><b>What is the unit of measurement for plastic recycling?</b></h4></label>
			<div class="radio">
				<label><input type="radio" name="optradio">cbm</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">kg</label>
			</div>
			<div class="radio">
			<label><input type="radio" name="optradio">US tons</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">tonne</label>
			</div>

			<div class="form-group">
				<label> <h4><b>What is the volume (in terms of the unit above) of plastic waste that was recycled for the current month? </b></h4> </label> 
				<input type="number" class="form-control"> 
			</div>
		</form>

	</div>

	<div class="check-element animate-show" ng-show="checked1" id="cardboard">
		<form>
			<label><h4><b>What is the unit of measurement for cardboard recycling?</b></h4></label>
			<div class="radio">
				<label><input type="radio" name="optradio">cbm</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">kg</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">US tons</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">tonne</label>
			</div>

			<div class="form-group">
				<label> <h4><b>What is the volume (in terms of the unit above) of cardboard waste that was recycled for the current month? </b></h4> </label> 
				<input type="number" class="form-control"> 
			</div>
		</form>
	</div>

	<div class="check-element animate-show" ng-show="checked2" id="paper">
		<form>
			<label><h4><b>What is the unit of measurement for paper recycling?</b></h4></label>
			<div class="radio">
				<label><input type="radio" name="optradio">cbm</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">US tons</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="optradio">tonne</label>
			</div>

			<div class="form-group">
				<label> <h4><b>What is the volume (in terms of the unit above) of paper waste that was recycled for the current month? </b></h4> </label> 
				<input type="number" class="form-control"> 
			</div>
		</form>
	</div>

	<a class="btn btn-danger pull-right" ui-sref="dashboard.section8" style="margin-bottom: 30px" onclick="scroll(0,0)">Submit</a>



</div>