<div>
	<div class="row">
		<div class="col-lg-12"> 
			<h1 class="page-header" id="myheader">Section 2: Facility Activities</h1>
		</div>
	</div>




	<div>
		
		<form>




			<form>
				<label><h4><b>What is the unit of measure for volume shipped?</b></h4></label>
				<div class="radio">
					<label><input type="radio" name="optradio">Cases</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">cbm</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">kgs</label>
				</div>

			</form>


			<div class="form-group">
				<h4><b>What was the volume of goods shipped this month in terms of the unit chosen above? </b></h4>
				<label> Quantity: </label>
				<input type="number" class="form-control"> 
			</div>







			<a class="btn btn-danger pull-right" ui-sref="dashboard.section3" style="margin-bottom: 30px" onclick="scroll(0,0)" >Submit</a>
		</form>
	</div>
</div>
