<div id="survey">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" id="myheader">Section 3: Energy Usage-Buildings</h1>
		</div>
	</div>



	<div> 
		
		<form>

			<form>
			<div class="form-group">
				<h4><b>What is the size of the ambient area of the facility?</b></h4>
				<label> Warehouse area: &#40m<sup>2</sup>&#41 </label> 
				<input type="number" class="form-control"> 
			</div>

			<div class="form-group">
				<label> Height: &#40meters&#41 </label> 
				<input type="number" class="form-control"> 
			</div>
		</form>
			<div class="form-group">
				<h4><b>What is the cost and volume in kWh of mains electricity consumed for this month &#40excluding all onsite generators&#41 ?</b></h4> 
				<label> Consumption: (kW) </label> 
				<input type="number" class="form-control"> 
			</div>

			<div class="form-group">
				<label> Cost: <sup> *DEWA bill </sup> </label> 
				<input type="number" class="form-control"> 
			</div>



			<form>
				<label><h4><b> Do you have an on-site generator?</b></h4></label>
				<div class="radio">
					<label><input type="radio" name="optradio">Yes</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="optradio">No</label>
				</div>

			</form>




			<form>
				<label><h4><b> Which of the following types of fuels do these generator run on?</b></h4></label>
				<div class="checkbox">
					<label><input type="checkbox" value="">Bioethanol </label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Biodiesel</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Biogas</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Compressed Natural Gas (CNG) </label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Diesel</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Liquefied Petroleum Gas</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Petrol / Gasoline</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">N/A</label>
				</div>

			</form>




			<div class="form-group">
				<h4><b>What is the quantity of fuel used for the generator? </b></h4>
				<label> Liters: </label> 
				<input type="number" class="form-control"> 
			</div>
			<div class="form-group">
				<label> Cost: </label> 
				<input type="number" class="form-control"> 
			</div>
			<a class="btn btn-danger pull-right" ui-sref="dashboard.section4" style="margin-bottom: 30px" onclick="scroll(0,0)">Submit</a>
		</form>
	</div>
</div>
