<div id="survey">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" id="myheader">Section 7: Recycling</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<form>
				<label><h5><b> Which of the following categories of waste were recycled in this month?</b></h5></label>
				<div class="checkbox">
					<label><input type="checkbox" value="" ng-model="checked3"  >Plastic</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="" ng-model="checked1"  >Cardboard </label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="" ng-model="checked2" >Paper</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Cooking Oil</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Foodstuff</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Metal</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Glass</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" value="">Other</label>
				</div>
			</form>

			<div class="check-element animate-show" ng-show="checked3">
				<form>
					<div class="form-group">
						<div class="form-group" style="display: inline-block;">
							<label> <h5><b>What is the volume of plastic waste that was recycled for the current month? </b></h5> </label> 
							<input type="number" class="form-control"> 
						</div>
						<div class="form-group" style="display:inline-block;">
						<label for="sel1" class="pull-right" style="margin-right: 10px;">Unit:</label>
							<select class="form-control" id="sel1">
								<option>m<sup>3</sup></option>
								<option>kg</option>
								<option>US tons</option>
								<option>tonne</option>
							</select>
						</div>
					</div>
				</form>

			</div>

			<div class="check-element animate-show" ng-show="checked1">
				<form>
					<!-- <label><h5><b>What is the unit of measurement for cardboard recycling?</b></h5></label>
					<div class="radio">
						<label><input type="radio" name="optradio">m<sup>3</sup></label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio">kg</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio">US tons</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="optradio">tonne</label>
					</div> -->

					<div class="form-group">
						<div class="form-group" style="display: inline-block;">
							<label> <h5><b>What is the volume of cardboard waste that was recycled for the current month? </b></h5> </label> 
							<input type="number" class="form-control"> 
						</div>
						<div class="form-group" style="display:inline-block;">
						<label for="sel1" class="pull-right" style="margin-right: 10px;">Unit:</label>
							<select class="form-control" id="sel1">
								<option>m<sup>3</sup></option>
								<option>kg</option>
								<option>US tons</option>
								<option>tonne</option>
							</select>
						</div>
					</div>
				</form>
			</div>




			<div class="check-element animate-show" ng-show="checked2" id="paper">
				<form>
					<div class="form-group">
						<div class="form-group" style="display: inline-block;">
							<label> <h5><b>What is the volume of paper waste that was recycled for the current month? </b></h5> </label> 
							<input type="number" class="form-control"> 
						</div>
						<div class="form-group" style="display:inline-block;">
						<label for="sel1" class="pull-right" style="margin-right: 10px;">Unit:</label>
							<select class="form-control" id="sel1">
								<option>m<sup>3</sup></option>
								<option>kg</option>
								<option>US tons</option>
								<option>tonne</option>
							</select>
						</div>
					</div>
				</form>
			</div>

			<a class="btn btn-danger pull-right" ui-sref="dashboard.section8" style="margin-bottom: 30px" onclick="scroll(0,0)">Submit</a>



		</div>
	</div>
</div>