<div class="full">
    <div class="login-form">
    <div>
    <a id="myicon"
    style='color: #777;font-weight: bold;font-size: 25px;"Segoe UI Semilight","Segoe UI Segoe Tahoma Helvetica,Arial,sans-serif;'>
    <i class="fa fa-leaf fa-fw" style="color: #179b7f;"></i>
    My<span style="color: #179b7f;">Carbon</span>Tracker</span>
    </a></div>


    <div class="form-group log-status">
       <input type="text" class="form-control" placeholder="Username " id="UserName" style="height: 50px;" />
       <i class="fa fa-user"></i>
    </div>

   <div class="form-group log-status">
       <input type="password" class="form-control" placeholder="Password" id="Passwod" style="height: 50px;" />
       <i class="fa fa-lock"></i>
   </div>
   <div class="form-group" >
<!--    <label for="sel1">Select list (select one):</label> -->
      <select class="form-control" style="font-size: 14px; height: 50px;" >
        <option hidden>Choose your company</option>
        <option> The Neutral Group</option>
        <option>Neutral Fuels</option>
      </select>
    </div>
   <span class="alert">Invalid Credentials</span>
   <a class="link" href="#" style="height: 50px;">Lost your password?</a>
   <button type="button" class="log-btn" ui-sref="dashboard.profile">Log in</button>
   <button type="button" class="log-btn" >Sign up</button>
   
</div>
</div>