<div id="survey">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="myheader">About Website</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>


<p id="about">My Carbon Tracker is a web-based tool provided by The Neutral Group (TNG) that captures data on energy, waste, water and operations. This data is used to calculate the energy usage and environmental impact of sites across the region. This provides a statement of sustainability footprint for each facility in the region along with valuable data to help prioritise energy and cost saving measures.</p>